//layout.jade
doctype html
html(lang="es")
	head
		title Ubrania
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
		link(href="./css/mycss.css" rel="stylesheet")
		
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	body
		block pageBody