//layout.jade
doctype html
html(lang="es")
	head
		title Ubrania
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
		link(href="./css/mycss.css" rel="stylesheet")
	body
		//header
		div(id="header" class="container-fluid")
			div(class="row")
				div(class="col-md-12")
					h1(class="center-block") Ubrania
		div(id="content" class="container-fluid")
			div(class="row")
				div(id="left-panel" class="col-md-2 left-panel")
					block left-panel
				div(id="center-block" class="col-md-8 center-block")
					block content