//layout.jade
doctype html
html(lang="es")
	head
		title Ubrania
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
		link(href="./css/mycss.css" rel="stylesheet")
		
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	body
		block pageBody
	footer
		.container.text-center
			hr
			.row
				.col-lg-12
					.col-md-3
						ul.nav.nav-pills.nav-stacked
							li
								a(href="#") About us
							li
								a(href="#") Blog
					.col-md-3
						ul.nav.nav-pills.nav-stacked
							li
								a(href="#") Product for Mac
							li
								a(href="#") Product for Windows
					.col-md-3
						ul.nav.nav-pills.nav-stacked
							li
								a(href="#") Web analytics
							li
								a(href="#") Presentations
					.col-md-3
						ul.nav.nav-pills.nav-stacked
							li
								a(href="#") Product Help
							li
								a(href="#") Developer API
			hr
			.row
				.col-lg-12
					ul.nav.nav-pills.nav-justified
						li
							a(href="#") © 2013 Company Name.
						li
							a(href="#") Terms of Service
						li
							a(href="#") Privacy